{
  "rules": {
    "indent": [2, 2],
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "no-console": [0],
    "no-multi-spaces": [2],
    "no-unused-vars": [1]
  },
  "env": {
    "node": true
  },
  "extends": "eslint:recommended"
}